# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Artyom\OneDrive - Rīgas domes izglītības iestādes\Progmeistars\2021\Winter\XI-10.04.2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
